.jumbotron {
    background-color: whitesmoke;
}

.jumbotron.red {
    background-color: #E74C3C;
}

.cancel-classname-1 {
    left: 15% !important;
    top: 0 !important;
}

.cancel-classname-2 {
    top: 0 !important;
}
